Source: linux-status
Section: admin
Priority: optional
Maintainer: Egor Tensin <Egor.Tensin@gmail.com>
Build-Depends: debhelper-compat (= 10)
Standards-Version: 4.4.1
Homepage: https://github.com/egor-tensin/linux-status

Package: linux-status
Architecture: all
Depends: python3, ${misc:Depends}
Description: Simple Linux status web page
 Shows your `top`, systemd units & timers, allows you to reboot the server,
 etc.
